{% extends "podcasts/_base.html" %}

<html lang="EN-US">

{% block content %}

    <h1>What is this?</h1>

    <p>



    <p>
        This is a collection of all podcasts for the Wheel of Time, by Robert Jordan. It is
        updated about every 4 hours or whenever I tell it to update. It is currently a very early stage, experimental,
        not very beautiful project. The search includes all episodes of every podcast, which was kind of the motivating
        factor for me, as well as being able to find
        specific book discussions.
    </p>

    <h1>Why did you do this?</h1>

    <p>
        I have a bit o a podcast problem. I subscribe to nearly 400 podcasts. More on that later. With regards to the
        Wheel of Time, I found it particularly
        hard to find chapter discussions that matched the pace I was reading for any particular combination of podcast
        and book. Generally, searching for podcasts is terrible and painful, so I wanted to fix that.

    </p>

    <h1>Who are you anyway?</h1>
    <p>
        Iunno. Just some guy. Here's my goofy ass posting as <a href="https://twitter.com/JaimAybara">Jaim Aybara</a> on
        twitter,
        making absolutely no attempt at being in character. I post with absolutey no regularity on my standard twitter
        <a href="https://twitter.com/dkotschessa">David Kotschessa</a>.
    </p>

    <h1>What's next</h1>
    <p>
        My big idea is to tackle history podcasts. There's too many and it's really hard to search for the topic you're
        interested in.
        But I did this one first as it's at a scale I can tackle and there's a bunch of great people on Twitter
        who can use this site and give me feedback.
    </p>

{% endblock %}
</html>
