{% extends "podcasts/_base.html" %}
{% block content %}

    <main class="container flex-grow-1">


      <div class="row">
        <div class="col">
          {% for podcast in podcasts %}
          <section class="card mb-3">
            <div class="row no-gutters">
              <div class="col-md-2 my-auto">
                <img
                  src="{{ podcast.podcast_image}}"
                  class="img-fluid ml-3 my-3"
                  alt="{{ podcast.podcast_name}}"
                  style="height: 5em; width: 5em"
                />
              </div>
              <div class="col-md-10">
                <div class="card-body ml-3">
                <a href="{% url 'podcast_info' podcast.podcast_id %}">
                  <h3 class="card-title">{{ podcast.podcast_name }}</h3>
                </a>
                                      {% autoescape off %}
                  <p class="card-text">{{ podcast.podcast_summary}}</p>

                  {% endautoescape %}





                </div>
              </div>
            </div>
          </section>
          {% endfor %}
        </div>
      </div>
    </main>
{% endblock %}

</html>
