<form action="{% url 'search_results' %}" method="get">
    <input name="q" type="text" placeholder="Search...">

    <select name="q" type="text">
        <option selected disabled=true>--Select Book--</option>
        <option value="New Spring">New Spring</option>
        <option value="The Eye Of The World">The Eye Of The World</option>
        <option value="The Great Hunt">The Great Hunt</option>

        <option value="The Dragon Reborn">The Dragon Reborn</option>

        <option value="The Shadow Rising">The Shadow Rising</option>
        <option value="Lord of Chaos">Lord of Chaos</option>
        <option value="A Crown Of Swords">A Crown Of Swords</option>
        <option value="The Path Of Daggers">A Path Of Daggers</option>
        <option value="Winter's Heart">Winter's Heart</option>
        <option value="Crossroads of Twilight">Crossroads of Twilight</option>
        <option value="Knife of Dreams">"Knife of Dreams</option>
        <option value="The Gathering Storm">The Gathering Storm</option>
        <option value="Towers of Midnight">Towers of Midnight</option>
        <option value="A Memory Of Light">A Memory of Light</option>


    </select>
    <input type="submit" value="Search">
    <hr>


</form>
