<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WOTcasts</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      {% comment %} href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" {% endcomment %}
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'main.css' %}" />
  </head>
  <body class="d-flex flex-column">
    <header>
      <nav class="container">
        <div class="row">
          <div class="col text-center">
            <img
              src="{% static 'imgs/Wheel-icon.svg' %}"
              alt="WOTcasts! Logo"
              id="site-logo"
            />
          </div>
        </div>
      </nav>
    </header>
{% block content %}
{% endblock %}



</html>
