{% extends "podcasts/_base.html" %}
{% block content %}

    <main class="container flex-grow-1">


        <div class="row">
            <div class="col">
                {% for channel in channels %}
                    <section class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-2 my-auto">
                                <img
                                        src="{{ channel.channel_image }}"
                                        class="img-fluid ml-3 my-3"
                                        alt="{{ channel.channel_name }}"
                                        style="height: auto; width: 100%; display: block;"
                                />
                            </div>
                            <div class="col-md-10">
                                <div class="card-body ml-3">
                                    <a href="{% url 'youtube_channel_info' channel.channel_id %}">
                                        <h3 class="card-title">{{ channel.channel_name }}</h3>
                                    </a>

                                    {% autoescape off %}
                                        <p class="card-text">{{ channel.channel_summary }}</p>


                                    {% endautoescape %}
                                    {% if channel.channel_twitter_url %}

                                        <a href="{{ channel.channel_twitter_url }}">
                                            <h5> {{ channel.channel_twitter_tag }} </h5>
                                        </a>
                                    {% endif %}


                                </div>
                            </div>
                        </div>
                    </section>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}

</html>
